---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About This Site";
---

<BaseLayout {title}>
    <main class="p-6 md:p-10 bg-gray-50 min-h-screen">
        <div class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-lg">
            <h1 class="text-4xl font-extrabold text-gray-900 mb-6">
                About This Site
            </h1>
            <p class="mt-4 text-lg text-gray-700 leading-relaxed">
                This site holds a collection of lineups/setups that I've either
                seen online or have been shared with me. This is by no means an
                exhaustive list of all the possible setups, but I hope it can be
                a useful resource for those looking for inspiration. If there
                are any setups you'd like to see added/updated/removed, please
                feel free to reach out to me on %%%.
            </p>
        </div>
    </main>
</BaseLayout>
