---
import BaseLayout from "@/layouts/BaseLayout.astro";

const email = "lor@rubenolano.app";
const title = "About This Site";
---

<BaseLayout {title}>
	<main class="p-6 md:p-10">
		<div class="max-w-4xl mx-auto p-8">
			<h1
				class="text-4xl font-extrabold text-gray-900 mb-6"
				transition:name="header"
			>
				About This Site
			</h1>
			<p class="mt-4 text-lg text-gray-700 leading-relaxed">
				Welcome to my collection of Valorant lineups and setups! This site is a
				curated repository of strategies that I've discovered online or have
				been shared with me by the community. While it doesn't cover every
				possible setup, my goal is to provide a valuable resource for players
				seeking inspiration and aim to improve their gameplay.
			</p>
			<p class="mt-4 text-lg text-gray-700 leading-relaxed">
				If you have setups that you'd like to see added, updated, or removed,
				don't hesitate to contact me via email at
				<a href={`mailto:${email}`} class="text-blue-500 underline">
					{email}</a
				>. I give full credit to the original creators of these setups. If you
				need more information added or wish to have your setup removed, please
				reach out. Your feedback and contributions are greatly appreciated!
			</p>
		</div>
	</main>
</BaseLayout>
